.project{
    .carousel-item{
        .background{
            background-color: rgba(0, 0, 0, 0.726);
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            div{
                h5{
                    @include rfs(2rem);
                }
                p{
                    @include rfs(1.2rem);
                }
            }
        }
        .background:hover{
            background-color: rgba(0, 0, 0, 0.425);
        }

    }



}