/*Section*/
section{
    @include flex(center,center,wrap);
    background-color: $bgColorP;
    min-height: $height;
    letter-spacing: $letterSpacing;
    text-align: $alignT;
    font-family: 'Arvo', serif;
    padding: 10px;
    min-width: 100vw;
    h2{
        color: #ff8400;
        @include rfs(3rem);
        text-transform: $uppercase;
        font-weight: 400;
    }
    h3{
        color: #ff8400;
        @include rfs(2rem);
    }
    p{
        @include rfs(1rem);
    }
}

